<!DOCTYPE html>
<html>
  <head>
    <title>Farcebook</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'fb.png', type: 'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/7aa53fd983.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
